

<span style=" font: italic bold 1.5em/1em Georgia, serif ;">
<h1><font color="blue"> Hello World!! <br> <br> 
이곳은 메인 페이지입니다~~~ <br> </font></h1>
</span>

<img src="http://bloximages.newyork1.vip.townnews.com/northwestgeorgianews.com/content/tncms/assets/v3/editorial/9/cf/9cf0d394-2352-11e3-9d30-001a4bcf6878/565f5a4629c30.image.jpg" width="200" height="200"> <br>

<span style = " font-size:1.5em;  color: green;"> <a href="restaurant">오늘뭐먹지?</span> </ahref></a><br>
<span style = " font-size:1.5em;  color: green;"> <a href="lotto">오늘의 로또번호</span></ahref></a> <br>
<span style = " font-size:1.5em;  color: green;"> <a href="aplus">에이쁠 (희망) 수업</span></ahref></a> </font><br>

